body{
  background-color: darkgray;
}
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.main_section{
  background: transparent;
  max-width: 600px;
  width: 90%;
  height: 500px;
  margin: 30px auto;
}

.clock_holder{
  width: 100%;
  background: whitesmoke;
  margin: 30px auto;
  position: relative;
}
.stopwatch{
  padding: 60px 0px;
  text-align: center;
}
.stopwatch span{
  background: deepskyblue;
  color: white;
  display: inline-block;
  font-family: Roboto;
  font-size: 22px;
  padding: 20px;
  border-radius: 5px;
  width: 70px;
}
.stopwatch .stopwatch_btn{
  background: white;
  margin: 30px 0 0 5px;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  text-transform: uppercase;
  width: 150px;
  transition: background 1s;
  cursor: pointer;
}
.stopwatch .stopwatch_btn_red{
  border: 2px solid red;
  color: darkred;
}
.stopwatch .stopwatch_btn_yel{
  border: 2px solid yellow;
  color: darkorange;
}
.stopwatch .stopwatch_btn_gre{
  background: dodgerblue;
  border: 2px solid dodgerblue;
  color: blue;
}
.stopwatch .stopwatch_btn_red:hover{
  background: darkred;
  border: 2px solid darkred;
  color: white;
}
.stopwatch .stopwatch_btn_yel:hover{
  background: darkorange;
  border: 2px solid darkorange;
  color: black;
}
.stopwatch .stopwatch_btn_gre:hover{
  background: blue;
  border: 2px solid blue;
  color: white;
}